{%extends 'base.html'%} {% load static %} {% block content%}

<section class="company-profile">
  <div class="sidebar">
    {% for company_detail in company_details %}

    <h2>{{company_detail.company_name}}</h2>
    {% endfor %}
    <ul>
      <li><a href="{% url 'companyprofile_view' %}">Profile</a></li>
      <li><a href="{% url 'post_job' %}">Post a Job</a></li>
      <li><a href="#">Manage Jobs</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
  {% for company_detail in company_details %}
    <div class="company-details">
      
      <div class="company-info">
       
          <div class="company-logo">
              <img src="{{ company_detail.company_logo.url }}" alt="Company Logo" style="width: 100px; height: 100px;">
          </div>
          <div class="company-name">{{ company_detail.company_name }}</div>
      
        <p>
          <strong>About us: </strong> {{company_detail.company_desc}}
        </p>
        <p><strong>Location:</strong>{{company_detail.company_address}}</p>
        <p><strong>Contact us At: </strong><a href="#" class="fa fa-twitter"></a> <!-- fa-lg class makes the icon larger -->
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-envelope"></a></p>
        
      </div>
      
      
      <div class="job-listings">
        <h3>Find Comfort at Our Place!</h3>
        
      </div>
      <div class="container">
    <div class="row">
      <!-- First Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Accessibility Features</h5>
            <p class="card-text">{{company_detail.accessibility_features}}</p>
          </div>
        </div>
      </div>
      
      <!-- Second Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Support Services</h5>
            <p class="card-text">{{company_detail.support_services}}</p>
          </div>
        </div>
      </div>
      
      <!-- Third Card -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Inclusive Hiring Practices</h5>
            <p class="card-text">{{company_detail.inclusive_hiring_practices}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <p class="mt-4"><strong>Visit us at: </strong><a href="{{company_detail.company_website}}">{{company_detail.company_website}}</a>

    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
