{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

	<title>AdminHub</title>
</head>
<body>


	<!-- SIDEBAR -->
	{% include 'includes/sidebar.html'%}



	<!-- CONTENT -->
	<section id="content">
       
		<!-- MAIN -->
		<main>
			<div class="container">
                {% comment %} <a href="{% url "main_registration" %}" class="nav-link"><button type="button" class="btn btn-warning">Edit Profile</button></a> {% endcomment %}
                <div class="row">
                    <div class="col-xl-5">
                        <a href="{% url 'download_pdf' %}">Download your resume</a>
                        <div class="card">
                            <div class="card-body">
                                
                                {% for personal_details_user in personal_details_data %}

                                    <div class="d-flex align-items-start">
                                        <img src="{{personal_details_user.profile_photo.url}}" class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
                                        <div class="w-100 ms-3">
                                            <h4 class="my-0">{{personal_details_user.user.first_name}}</h4>
                                            <p class="text-muted">@webdesigner</p>
                                            
                                        </div>
                                    </div>
                                
            
                                    <div class="mt-3">
                                        <h4 class="font-13 text-uppercase">About Me :</h4>
                                        <p class="text-muted font-13 mb-3">
                                            Hi I'm Shamal Dhekale ,has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                                        </p>
                                        <p class="text-muted mb-2 font-13"><strong>Full Name :</strong> <span class="ms-2">{{personal_details_user.user.first_name}} {{personal_details_user.user.last_name}} </span></p>
                                    
                                        <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ms-2">{{personal_details_user.phone_number}}</span></p>
                                    
                                        <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2">{{personal_details_user.user.email}} </span></p>
                                    
                                        <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ms-2">{{personal_details_user.city}} {{personal_details_user.state}} {{personal_details_user.country}}</span></p>
                                    </div>      
                                {% endfor %}                              
            
                                <ul class="social-list list-inline mt-3 mb-0">
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item text-center border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item text-center border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item text-center border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript: void(0);" class="social-list-item text-center border-secondary text-secondary"><i class="mdi mdi-github"></i></a>
                                    </li>
                                </ul>   
                            </div>                                 
                        </div> <!-- end card -->
            
                        
            
                        
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-3">Projects</h4>
                                    
                                <div class="inbox-widget" data-simplebar="init" style="max-height: 100px;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto;"><div class="simplebar-content" style="padding: 0px;">
                                    {% for project_detail in Projects_data %}
                                        <p class="text-muted mb-2 font-17"><strong> Title :</strong> <span class="ms-2">{{project_detail.title}}</span></p>
                                        <p class="text-muted mb-2 font-17"><strong> Link:</strong> <span class="ms-2"><a href="{{project_detail.link}}">{{project_detail.link}}</a></span></p>
                                        <p class="text-muted mb-2 font-17"><strong> Description :</strong> <span class="ms-2">{{project_detail.desc}}</span></p>
                                        

                                    {% endfor %}
                                    
                                    
                                    
                                    
                                </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 532px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 230px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div> <!-- end inbox-widget -->
                            </div>
                        </div> <!-- end card-->
            
                       
                    </div> <!-- end col-->
            
                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-body">
                                <!-- comment box -->
                                <div class="card">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-4 border-end border-light">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Applied</h5>
                                                <h2 class="mb-0 fw-bold">5</h2>
                                            </div>
                                                <div class="col-4 border-end border-light">
                                                    <h5 class="text-muted mt-1 mb-2 fw-normal">Reviewed</h5>
                                                    <h2 class="mb-0 fw-bold">3</h2>
                                            </div>
                                            <div class="col-4">
                                                <h5 class="text-muted mt-1 mb-2 fw-normal">Contacted</h5>
                                                <h2 class="mb-0 fw-bold">2</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- end comment box -->
            
                                <!-- Story Box-->
                                
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="header-title mb-3">Education</h4>
                                            
                                            
                                            <div class="inbox-widget" data-simplebar="init" style="max-height: 500px;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto;"><div class="simplebar-content" style="padding: 0px;">
                                                {% for edu_detail in Education_data %}
                                                    <p class="text-muted mb-2 font-17"><strong> Highest qualification :</strong> <span class="ms-2">{{edu_detail.highest_qualification}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> Specialization :</strong> <span class="ms-2">{{edu_detail.specialization}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> Institute :</strong> <span class="ms-2">{{edu_detail.institute}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> Start year :</strong> <span class="ms-2">{{edu_detail.start_year}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> End year :</strong> <span class="ms-2">{{edu_detail.end_year}}</span></p>


                                                {% endfor %} 
                                                
                                                
                                                
                                                
                                                
                                            </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 532px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 230px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div> <!-- end inbox-widget -->
                                        </div>
                                    </div> <!-- end card-->
            
            
                                   
                                
            
                                <!-- Story Box-->
                                
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="header-title mb-3">Experience</h4>
                                                
                                            <div class="inbox-widget" data-simplebar="init" style="max-height: 500px;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto;"><div class="simplebar-content" style="padding: 0px;">
                                                {% for exp_detail in Experience_data %}
                                                    <p class="text-muted mb-2 font-17"><strong> Designation :</strong> <span class="ms-2">{{exp_detail.Designation}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> Organisation :</strong> <span class="ms-2">{{exp_detail.Organisation}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> Job Description :</strong> <span class="ms-2">{{exp_detail.descofjob}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> Worked from: </strong> <span class="ms-2">{{exp_detail.worked_from}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> Worked Till :</strong> <span class="ms-2">{{exp_detail.worked_till}}</span></p>
                                                    <p class="text-muted mb-2 font-17"><strong> {% if exp_detail.status == 'yes' %} I am currently working in the same organization{% endif %} </strong> 

                                                {% endfor %}
                                                
                                                
                                                
                                                
                                            </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 532px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 230px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div> <!-- end inbox-widget -->
                                        </div>
                                   
            
            
                                   
                                </div>
            
                                <!-- Story Box-->
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Skills</h4>
                                            
                                        <div class="inbox-widget" data-simplebar="init" style="max-height: 70px;"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: auto;"><div class="simplebar-content" style="padding: 0px;">
                                            {% for skills_detail in Skills_data %}
                                                <p class="text-muted mb-2 font-17"><strong> My strong skills are :</strong> <span class="ms-2">{{skills_detail.skill}}</span></p>
                                                
                                                
        
                                            {% endfor %}
                                            
                                            
                                            
                                            
                                        </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 532px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 230px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div> <!-- end inbox-widget -->
                                    </div>
                                </div> <!-- end card-->
                                </div>
            
                               
                            </div>
                        </div> <!-- end card-->
            
                    </div> <!-- end col -->
                </div>
                <!-- end row-->
            
            </div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="{% static 'js/dashboard.js' %}"></script>
</body>
{% block extrastyles %}
<!-- Include only the desired styles for this specific page -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

{% endblock %}
</html>