<!-- jobs/templates/jobs/job_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job List</title>
</head>
<body>
    <h1>Job List</h1>
    {% for job in jobs %}
        <h2><a href="{% url 'job_detail' job.id %}">{{ job.title }}</a></h2>
        <p>{{ job.description }}</p>
        <p>Company: {{ job.company.name }}</p>
        <hr>
    {% endfor %}

    <a href="{% url 'post_job' %}">Post a Job</a>
</body>
</html>
