.custom-section {
  background-color: rgba(218, 212, 212, 0.863);
  height: 200px;
}
.button-like-div {
  display: inline-block;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid rgb(240, 124, 16);
  color: black;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 8px;
}


.filter-box {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.filter-links {
  margin-bottom: 5px;
}
.filtered-links {
  margin-top: 5px;
}


.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Makes the div round */
  overflow: hidden; /* Hides any content that overflows the circle */
  margin: 10px; /* Adjust as needed for spacing between circles */
}

.circle img {
  width: 100%; /* Makes the image fill the circle */
  height: auto;
}
