{%load static%}


<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <a href="#" class="navbar-brand">Job Portal</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#learn" class="nav-link">Blogs</a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link">Resume Builder</a>
          </li>
          <li class="nav-item">
            <a href="#questions" class="nav-link">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link"><button type="button" class="btn btn-warning">Find Job</button></a>
          </li>
          <li class="nav-item">
            <a href="#instructors" class="nav-link"><button type="button" class="btn btn-warning">Post a Job</button></a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>