{%extends 'base.html'%} {% load static %} {%block content%}

<!-- Showcase -->
<section class="p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
  <div class="container">
    <div class="d-sm-flex align-items-center justify-content-between">
      <div>
        <h1>
          Breaking Barriers, Building Careers! Where Every Talent Shines -
          <span class="text-primary auto-type"></span>
        </h1>
        <p class="lead my-4">
          At JustHired, we bridge talent and opportunity. Find your dream job or
          discover top-tier candidates effortlessly. Simplify your career
          journey – explore, connect, thrive.
        </p>
        {% if user.is_authenticated %}
          {% if user.role == 'CANDIDATE' %}
              <a href="{% url "job_list" %}" class="nav-link"><button type="button" class="btn btn-primary">Find Jobs</button></a>
          {% else %}
              <a href="{% url "post_job" %}" class="nav-link"><button type="button" class="btn btn-primary">Post Job</button></a>
          {% endif %}
        {% else %}
              <a href="{% url "registerUser" %}" class="nav-link"><button type="button" class="btn btn-warning">Find Job</button></a>
        {% endif %}
        
      </div>
      <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'img/disabled_home_page.jpg' %}" alt="" />
    </div>
  </div>
</section>


<!-- Boxes -->
<section class="p-5">
  <div class="container">
    <div class="row text-center g-4">
      <div class="col-md">
        <div class="card">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-laptop"></i>
            </div>
            <h3 class="card-title mb-3">Full Time</h3>
            <p class="card-text">Click below to get a list of Full Time Jobs</p>
            <a href="{% url 'get_fulltime' %}" class="btn btn-primary"
              >Click Here</a
            >
          </div>
        </div>
      </div>
      <div class="col-md">
        <div
          class="card"
          style="background-color: rgb(132, 45, 245); color: white"
        >
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-person-square"></i>
            </div>
            <h3 class="card-title mb-3">Remote</h3>
            <p class="card-text">Click below to get a list of Remote Jobs</p>
            <a href="{% url 'get_remote' %}" class="btn btn-dark">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="card">
          <div class="card-body text-center">
            <div class="h1 mb-3">
              <i class="bi bi-people"></i>
            </div>
            <h3 class="card-title mb-3">Internships</h3>
            <p class="card-text">Click below to get a list of internships</p>
            <a href="{% url 'get_internships' %}" class="btn btn-primary"
              >click here</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- our vision -->
<div class="container">
  <h2>Our Vision</h2>
  <section class="services">
      <div class="card">
          <div class="content">
              
              <div class="title">Empower</div>
              <p>Empowering individuals with disabilities to take control of their careers and futures.We empower job seekers to face challenges with confidence, fostering a sense of self-efficacy that transcends limitations.</p>
          </div>
      </div>
      <div class="card">
          <div class="content">
              
              <div class="title">Include</div>
              <p>Creating an inclusive environment where everyone is welcomed.Inclusivity is at the heart of our platform.We ensure that every aspect, from design to job listings, embraces accessibility and diversity. We strive to create opportunities.</p>
          </div>
      </div>
      <div class="card">
          <div class="content">
              
              <div class="title">Succeed</div>
              <p>Propelling careers to new heights.Our ultimate goal is success.Join us on this journey of empowerment, inclusion, and success. Together, let's redefine what's possible and build a future where diverse talents thrive.</p>
          </div>
      </div>
     
      
  </section>
</div>

<section class="p-5">
  <div class="container">
    <h1 class="text-center">Are you an employer?</h1>
    <div class="d-md-flex justify-content-center align-items-center">
      {% if user.is_authenticated %}
      <a href="{% url 'post_job' %}"
        ><div class="button-like-div">
          <i class="fa fa-briefcase"></i> Post a Job
        </div></a
      >
      {%else%}
      <a href="{% url 'login' %}"
        ><div class="button-like-div">
          <i class="fa fa-briefcase"></i> Post a Job
        </div></a
      >
      {%endif%}
      <div class="button-like-div">
        <i class="fa fa-laptop"></i> Search Your Hire
      </div>
      <a href="{% url 'registerEmployer' %}"
        ><div class="button-like-div">
          <i class="fa fa-user"></i> Not registered yet?
        </div></a
      >
    </div>
  </div>
</section>

<!-- Question Accordion -->
<section id="questions" class="p-5">
  <div class="container">
    <h2 class="text-center mb-4">Frequently Asked Questions</h2>
    <div class="accordion accordion-flush" id="questions">
      <!-- Item 1 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-one"
          >
            How do I create an account on the job portal?
          </button>
        </h2>
        <div
          id="question-one"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            beatae fuga animi distinctio perspiciatis adipisci velit maiores
            totam tempora accusamus modi explicabo accusantium consequatur,
            praesentium rem quisquam molestias at quos vero. Officiis ad velit
            doloremque at. Dignissimos praesentium necessitatibus natus corrupti
            cum consequatur aliquam! Minima molestias iure quam distinctio
            velit.
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-two"
          >
          Are there any special features or accommodations for disabled job seekers
          </button>
        </h2>
        <div
          id="question-two"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Yes, JustHired offers various accessibility features to ensure an inclusive experience for all users. This includes compatibility with screen readers, keyboard navigation, and customizable display settings. Additionally, job seekers can specify their accommodation needs and preferences in their profiles to help employers understand their requirements.
          </div>
        </div>
      </div>
      <!-- Item 3 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-three"
          >
          How does [JustHired] support employers?
          </button>
        </h2>
        <div
          id="question-three"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Employers can use [Your Job Portal's Name] to recruit talented individuals with disabilities and promote diversity in their workforce. Our platform offers tools for posting job listings, managing applications, and connecting with qualified candidates. We also provide resources and guidance on creating inclusive workplaces and accommodating employees with disabilities.
          </div>
        </div>
      </div>
      <!-- Item 4 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-four"
          >
          Is [Your Job Portal's Name] free to use?
          </button>
        </h2>
        <div
          id="question-four"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            Yes, [Your Job Portal's Name] is completely free for job seekers to create profiles, search for job listings, and apply for positions. Employers may have access to both free and premium features, depending on their needs and preferences.
          </div>
        </div>
      </div>
      <!-- Item 5 -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#question-five"
          >
          How can I get started with [Your Job Portal's Name]?
          </button>
        </h2>
        <div
          id="question-five"
          class="accordion-collapse collapse"
          data-bs-parent="#questions"
        >
          <div class="accordion-body">
            To begin using [Your Job Portal's Name], simply visit our website and sign up for an account. Job seekers can create their profiles and start exploring job opportunities, while employers can post job listings and begin recruiting qualified candidates. Our platform is user-friendly and designed to make the job search process as seamless as possible.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="instructors" class="p-5 bg-primary">
  <div class="container">
    <h2 class="text-center text-white">Top Companies</h2>
    <p class="lead text-center text-white mb-5">
      Our instructors all have 5+ years working as a web developer in the
      industry
    </p>
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src={% static 'img/atlassian.jpg' %} class="logo-company"
            alt="" />
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src={% static 'img/micros.jpg' %} class="logo-company" alt=""
            />
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src={% static 'img/gold.jfif' %} class="logo-company" alt="" />
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center">
            <img src={% static 'img/google.jfif' %} class="logo-company" alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact & Map -->
<section class="p-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md">
        <h2 class="text-center mb-4">Contact Info</h2>
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item">
            <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Enrollment Phone:</span> (555) 555-5555
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Student Phone:</span> (333) 333-3333
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Enrollment Email:</span> (555)
            enroll@frontendbc.test
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Student Email:</span>
            student@frontendbc.test
          </li>
        </ul>
      </div>
      <div class="col-md">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% comment %} {% block extrastyles %}
<!-- Include only the desired styles for this specific page -->
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<!-- Include only the desired styles for this specific page -->
<link rel="stylesheet" href="{% static 'css/jobstyle.css' %}" />

{% endblock %} {% endcomment %}
