.form-container {
    min-height: 200px;
    display: flex;
    align-items: center;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
  }

  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }